{# templates/reservation/confirmation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmation de réservation{% endblock %}

{% block body %}
    <h1>Votre réservation a été confirmée</h1>
    {# Autres détails de confirmation peuvent être ajoutés ici #}
{% endblock %}
